/* Centre the page */


/* Centre the form within the page */
form {
    margin:10px;
    width:400px;
}

/* Style the text boxes */
 textarea {
	width:400px;
	height:100px;
	background:white;
	border-color:#bcc3ca;
	border-radius: 6px;
	

}
/* Styling the header */
.h{
	background-color:#bcc3ca;
	color: white;
	padding: 20px;
}

.formclss{
	border:2px  solid #bcc3ca;
	width:439px;
	border-radius: 6px;
	margin: 40px 320px 10px 350px;
	padding:0 ;
	color: #90969c;
}

.styleclss{
	background: transparent;
	border:0;
	padding: 0px;
	text-decoration: none;
	color: white;
  	

}

.stylecls
{       
  
         background : #1abc9c;   

        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        -moz-appearance:none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
}