.newclss{
	
	
	background: rgb(90,90,90);
	box-sizing:border-box;
	padding: 10px 20px 30px 40px ;
	margin: 70px;
	display: inline-block;
	width: 960px;
	height: 360px;
}
.divclass{
	background: 2px rgb(90,90,90);
	 margin:20px;padding:10px ;

}
.divclss{
	background: 8px rgb(0,0,0);
	padding: 10px 10px 30px 10px ;
	margin:40px 70px 10px 70px ;
}
.pclass{
	color: grey;
	margin:10px;
	font-size:20px;
	}
.divcls
{
	background: rgb(90,90,90);
	width:75%;
	margin:10px;
	padding:30px;
}
.divnwcls
{
background: white;
margin:50px;
padding:60px";

}
.newdiv{
	background: 4px rgb(200,200,200);
	padding:10px;
	margin:5px 120px 40px 60px;
}